.month {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #1a1a1a;
    color: white;

    border-radius: 8px;
    border: 1px solid transparent;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

.month:hover {
    border-color: white;
}

.month:focus,
.month:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.monthName {
    font-size: medium;
    font-weight: bolder;
    text-align: center;
}

.days {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
}

.days > li {
    width: 2.4vw;
    height: 3vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dayName {
    font-size: small;
    font-weight: bold;
    border-bottom: 1px gray solid;
}

.days > :nth-child(7n), .days > li:nth-child(7n) button {
    color: red;
}