.month {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    background-color: #1a1a1a;
    color: white;
}

.monthName {
    font-size: medium;
    font-weight: bolder;
}

.days {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
}

.days > li {
    width: 2.4vw;
    height: 3vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dayName {
    font-size: small;
    font-weight: bold;
    border-bottom: 1px gray solid;
}

.days > :nth-child(7n), .days > li:nth-child(7n) button {
    color: red;
}