.month {
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    background-color: #1a1a1a;
    color: white;
}

.days {

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    justify-items: center;  
}

.days > li, .days > li > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90%;
}

.days > :nth-child(7n), .days > li:nth-child(7n) button {
    color: red;
}

.monthName {
    font-weight: bolder;
    font-size: medium;
}

.dayNames {
    font-weight: bold;
    border-bottom: 1px gray solid;
    font-size: small;
}