.day {
    padding: 0.2rem;
    cursor: pointer;
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.has-event {
    border-bottom: dodgerblue 0.2rem solid;
}

.today {
    border-radius: 0.8rem;
    background: white;
    color: black;
}

.current-month > .month > .days > .day:hover {
    border-radius: 0.8rem;
    outline: 1px gray solid;
}

.month-view > .current-month > .month > .days > .selected {
    border-radius: 0.8rem;
    outline: 1px white solid;
}