.day {
    padding: 0.2rem;
    cursor: pointer;
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.has-event {
    border-bottom: dodgerblue 1px solid;
}

.today {
    border-radius: 1rem;
    background: white;
    color: black;
}

.current-month > .month > .days > .day:hover {
    border-radius: 1rem;
    outline: 1px gray solid;
}