.header {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: large;
    font-weight: bold;
    align-self: center;
}


.current-year {
    padding: 0 3rem 0 3rem;
    font-size: xxx-large;
    font-weight: bold;
    align-self: center;
}

.months {
    padding: 1rem;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}