.months > .month {
    display: flex;
    flex-direction: column;
}

.month-name {
    text-align: center;
    padding-bottom: 1rem;
    font-size: x-large;
    justify-self: center;
}

.months > .month:hover {
    outline: 1px solid lightgrey;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.3rem black;
}

.days {
    justify-self: center;
    flex: 1;
/*1    display: flex;*/
/*    flex-wrap: wrap;*/
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    justify-items: center;
    gap: 0.5rem;
}

.days div:nth-child(7n) {
    color: red;
}

.offset {
    padding: 0.7rem;
}

.day-names {
    font-weight: bold;
    padding: 0.7rem;
    text-align: center;
    border-bottom: gray 1px solid;
}