.months > .month {
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
}

.month-name {
    font-size: large;
    text-align: center;
    /*padding: 0.5rem 0 0.5rem 0;*/
    justify-self: center;
}

.days {
    margin: 0.14rem;
    font-size: smaller;
    justify-self: center;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    justify-items: center;
    gap: 0.5rem;
    /*padding-bottom: 0.5rem;*/
}

.days div:nth-child(7n) {
    color: red;
}

.offset {
    padding: 0.2rem;
}

.day-names {
    font-size: small;
    font-weight: bold;
    padding: 0.2rem;
    text-align: center;
    border-bottom: gray 1px solid;
}