.day {
    font-size: small;
    width: 100%;
    height: 100%;
}

.today {
    background-color: white;
    color: black;
}

.hasEvent {
    border-bottom: 2px dodgerblue solid;
}

.selected {
    outline: white 1px solid;
}
